@import "../../../styles/common.scss";
.student-application {
  padding-bottom: 20px;
  .student-application-a {
    background-color: #ffffff;
    border: 1px solid $grey;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    .student-application-a-left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .student-application-left-left {
        font-size: 25px;
        .student-application-emoji {
        }
        .sutdent-application-title {
          padding-left: 5px;
        }
      }
      .student-applicaiton-left-repliedAt {
        font-weight: 300;
        font-size: 14px;
        padding-left: 20px;
      }
    }
    .student-application-a-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .application-student-ing {
        color: #66bb6a;
        border: 1px solid #66bb6a;
        padding: 5px 10px;
        border-radius: 30px;
        font-size: 15px;
      }

      .application-student-done {
        color: $main-red;
        border: 1px solid $main-red;
        padding: 5px 10px;
        border-radius: 30px;
      }
      .application-student-right-delete {
        display: none;
        padding-top: 5px;
        font-size: 20px;
        color: $medium-grey;
        padding-left: 20px;
      }
      &:hover {
        .application-student-right-delete {
          display: block;
        }
      }
    }
  }
}
