@import "../../styles/common.scss";
.AppKanban {
  background-color: $light-grey;
  width: 24%;
  height: 100%;
  min-height: 50vh;
  padding: 5px 20px;
  border-radius: 20px;
  .AppKanban-top {
    a {
      font-size: 20px;
    }
    .AppKanban-title{
        padding-left: 5px;
    }
  }
  .AppKanban-bottom {
    width: 100%;
  }
}
