@import "../../style/common";

.notice-aside {
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;

  &.active {
    position: fixed;
    opacity: 1;
    left: 0;
  }

  width: 25%;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  background-color: $light-grey;
  border-right: 1px solid $grey;
  padding: 86px 30px 20px 30px;

  .notice-aside--close-button-wrapper {
    text-align: right;
    margin-bottom: 10px;

    .notice-aside--close-button {
      background-color: transparent;
      width: 30px;
      height: 30px;
    }
  }

  .notice-aside--notice-area {
    display: flex;
    justify-content: space-between;
    height: 100px;
    margin-bottom: 20px;

    .notice-aside--notice-area-textarea {
      width: 73%;
      height: 100%;
    }

    .notice-aside--notice-area-button {
      width: 23%;
      height: 100%;

      span {
        font-size: 25px;
        font-weight: 500;
      }
    }
  }

  .notice-aside--notice {
    width: 100%;
    flex: 1;

    overflow: scroll;
  }
}

.notice-aside-open {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  padding: 50px 2.5px;
  background-color: $light-grey;
  border: 1px solid $grey;
  border-radius: 0 30px 30px 0;

  img {
    width: 25px;
    height: 25px;
  }

  &.active {
    display: block;
  }
}

.application-management {
  width: 75%;
  margin: 0 auto;
  padding: 50px 10px;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;

  &.half {
    display: inline-block;
    float: right;
    width: 75%;
    padding: 50px 40px;
  }

  .application-management-application-header {
    font-size: 40px;
    font-weight: 600;
    position: relative;

    .application-management-application-header-title {
      .emoji {
        margin-right: 6px;
      }
    }

    .application-management-application-header-description {
      font-weight: 300;
      font-size: 19px;
    }

    .application-management-application-header-time {
      font-weight: 300;
      font-size: 20px;
    }

    .application-management--export {
      width: 30px;
      height: 33px;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .application-management--result-table {
    text-align: center;
    width: 100%;
    margin-top: 30px;
    border-collapse: separate;
    border-spacing: 0;

    .application-management--result-table--content-empty {
      padding: 50px 0;
      color: $medium-grey;
    }

    thead {
      font-weight: 500;

      td {
        border-top: 1px solid $grey;
        border-bottom: 1px solid $grey;
      }

      tr:first-child td:first-child {
        border-top-left-radius: 10px;
        border-left: 1px solid $grey;
      }

      tr:first-child td:last-child {
        border-top-right-radius: 10px;
        border-right: 1px solid $grey;
      }
    }

    tbody {
      font-weight: 400;

      tr:first-child {
        td {
          border-top: 1px solid $grey;
        }
      }

      tr:last-child {
        td {
          border-bottom: 1px solid $grey;
        }
      }

      tr {
        td:first-child {
          border-left: 1px solid $grey;
        }

        td:last-child {
          border-right: 1px solid $grey;
        }
      }

      tr:last-child td:first-child {
        border-bottom-left-radius: 10px;
      }

      tr:last-child td:last-child {
        border-bottom-right-radius: 10px;
      }
    }

    tbody:before {
      content: "@";
      display: block;
      line-height: 10px;
      text-indent: -99999px;
    }

    td {
      padding: 15px 0;
      background-color: #fff;
      border: 1px solid #fff;
    }
  }
}
