@import "../../styles/common.scss";

.pw-change {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;

  .img-box {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 0 40px;

    img {
      width: 70%;
    }

    p {
      font-weight: 600;
      font-size: 1.8em;
    }
  }

  .pw-change-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    row-gap: 15px;

    .pw-change-header {
      display: inline-block;
      width: 100%;

      .pw-change-title {
        display: flex;
        font-weight: 600;
        font-size: 25px;

        img {
          width: 7%;
          object-fit: contain;
          margin-left: 4px;
        }
      }

      .pw-change-subtitle {
        color: $dark-grey;
        font-size: 14px;
        font-weight: 400;
        padding-top: 5px;
        word-break: keep-all;
      }
    }

    .pw-change-form {
      width: 100%;

      .input-box {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .information {
          display: flex;
          justify-content: space-between;

          .sign-right-ment-num-student {
            width: 49%;
          }

          .sign-right-ment-name-student {
            width: 49%;
          }
        }
      }
    }

    .pw-change-btn {
      border-radius: 0;
      background-color: $main-red;
      height: 45px;
      color: white;
      font-weight: 600;
    }
  }
}

@media screen and (max-width: 965px) {
  .pw-change > .pw-change-right {
    width: 50%;
  }
}

@media screen and (max-width: 680px) {
  .pw-change {
    .img-box {
      display: none;
    }

    .pw-change-right {
      width: 75%;
    }
  }
}
