@import "../../../styles/common";

.application-modal {
  width: 70vw;
  height: 80vh;
  display: inline-block;
  border-radius: 15px;

  .application-modal-notice {
    width: 30%;
    height: 100%;
    padding: 5% 3%;
    background-color: $light-grey;
    float: left;

    .application-modal-notice-inner {
      width: 100%;
      height: 100%;
      overflow: scroll;
    }

    .application-modal-notice-no {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      color: $medium-grey;
    }
  }

  .application-modal-application {
    width: 70%;
    height: 100%;
    padding: 5% 4%;
    background-color: $background-color;
    display: flex;
    flex-direction: column;
    float: right;

    .application-modal-application-header {
      font-size: 40px;
      font-weight: 600;

      .application-modal-application-header-title {
        .emoji {
          margin-right: 6px;
        }
      }

      .application-modal-application-header-description {
        font-weight: 300;
        font-size: 19px;
      }

      .application-modal-application-header-time {
        font-weight: 300;
        font-size: 20px;
      }
    }

    .application-modal-application-section {
      margin: 30px 0;
      flex: 1;
      overflow-y: scroll;
    }

    .application-modal-application-submit {
      width: 100%;
      height: 40px;

      span {
        font-size: 20px;
      }
    }
  }
}
