@import "../../styles/common";

.button {
  background-color: $main-red;
  border-radius: 8px;
  span {
    color: white;
    font-weight: 600;
  }

  &.disabled {
    background-color: #D9D9D9;
  }
}

@media screen and (max-width: 590px) {
  .button {
    position: absolute;
    bottom: 0;
  }
}