<<<<<<< HEAD
@import "../../styles/common.scss";
=======
@import '../../styles/common';
>>>>>>> ee29f63c54378c2366fa53d55c1fab0d23649a17

.latest-application-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70vw;
  padding-top: 25px;
  margin: 0 auto;
  .application {
    min-height: 20vh;
    width: 16.5vw;
    height: 35vh;
  }
}

@media screen and (max-width: 600px) {
  .latest-application-list {
    width: 85vw;
    .application {
        margin-top: 10px;
        height: auto;
    }
  }
}
