@import '../../styles/common.scss';

.latest-application-list {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding-top: 25px;
    margin: 0 auto;

    .application {
        width: 16.5vw;
        height: 35vh;
    }
}
