@import "../../styles/common";

.record {
  width: 80vw;
  min-width: 350px;
  margin: 0 auto;
  padding: 80px 10px;

  .record-application-section {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

@media screen and (max-width: 700px) {
  .record {
    .teacher-application {

      .application-title {
        width: 60%;
        display: flex;
        align-items: center;
        gap: 10px;
        margin-left: -10px;

        .application-title-icon {
          display: inline-block;
          font-size: 25px;
          text-align: right;
        }

        .application-title-title {
          display: inline-block;
          word-break: keep-all;
          font-weight: 700;
          font-size: 20px;
        }
      }

      .application-comment {
        display: none;
      }

      .application-end-date {
        width: 40%;
        font-weight: 300;
        text-align: right;
        white-space: nowrap;
        font-size: 15px;
      }

      &:hover {
        background-color: $light-grey;
      }
    }
  }
}

