@import '../../styles/common.scss';


.application {
  &:hover{
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  border: 1px solid $grey;
  background-color: white;
  border-radius: 18px;
  padding: 20px 25px 10px 28px;
  min-width: 40vw;
  .application-title {
    .application-title-title {
      display: inline-block;
      width: 70%;
      padding-right: 10px;
      word-break: keep-all;
      font-weight: 700;
      font-size: 30px;
    }

    .application-title-icon {
      display: inline-block;
      width: 30%;
      font-size: 40px;
      text-align: right;
      float: right;
    }
  }

  .application-comment {
    padding-top: 10px;
    font-weight: 300;
    max-height: 50%;
    width: 100%;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    text-overflow: ellipsis;
    overflow: hidden;

    -webkit-line-clamp: 3;
  }

  .application-end-date {
    margin-top: auto;
    float: bottom;
    font-weight: 300;
    text-align: right;
  }

  &:hover {
    background-color: $light-grey;
  }
}

@media screen and (max-width: 600px) {
  .application{ 
    padding: 15px 15px 8px 18px;
    .application-title{
      .application-title-title{
        font-size: 20px;
      }
      .emoji{
        display: none;
      }

    }
    .application-comment{
      font-size: 11px;
      font-weight: 400;
    }
    .application-end-date{
      font-family: serif;
      font-size: 10px;
    }
  }
}
