@import '../../../styles/common';

.question{
  box-shadow: 0 16px 40px rgba(173, 173, 173, 0.2);
  width: 45vw;

  background-color: white;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;

  .question-header {
    width: 100%;
    height: 50px;

    .question-header-question-type {
      border: 1px solid $medium-grey;
      padding: 10px 20px;
      font-size: 15px;
      color: $medium-grey;
      border-radius: 4px;
      float: right;
      width: 25%;
      height: 100%;

      &:focus {
        outline: none;
      }
    }

    .question-header-question {
      float: left;
      font-size: 20px;
      width: 70%;
      height: 100%;
      padding: 10px 20px;
      background-color: $main-beige;
      border: none;
      border-bottom: 1px solid $medium-grey;

      &::placeholder {
        color: $medium-grey;
      }
    }

  }

  .QuestionDiv-answer {
    width: 100%;
    margin-top: 20px;
  }

  .delete-question {
    text-align: right;
    margin-top: 20px;

    img {
      width: 20px;
      cursor: pointer;
    }
  }
}
