@import "../../../styles/common";

.advanced-setting-modal {
  width: 30vw;
  height: 60vh;
  border-radius: 15px;
  padding: 50px 40px;
  background-color: $background-color;

  .title {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 40px;
  }

  .setting-content {
    width: 100%;
    height: 100%;
    .application-delete-button{
      width: 100%;
      height: 45px;
      border-radius: 8px;
      background-color: white;
      border: 1px solid $medium-grey;
      span {
        color: $medium-grey;
        font-size: 23px;
      }
    }
  }
}
