@import '../../../style/common.scss';
.signup-button-modal{
    color:$main-red;
    background-color: transparent;
    border: none;
}



.ReactModalPortal {
    position: relative;
    z-index: 9999;
  
    .sign-modal-main-overlay{
      position: fixed;
      inset: 0;
      background-color:transparent;
  
      .sign-modal-main {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        border: 1px solid rgb(204, 204, 204);
        background: white;
        opacity: 1;
        overflow: auto;
        border-radius: 3px;
        outline: none;
      }
    }
  }
  .ReactModal__Body--open {
    overflow: hidden;
  }
  

.sign-modal-total{
  width: 40vw;
  .sign-modal-total-div{
    width: 100%;
    height: 65vh;
    .sign-left{
      background-color: $light-grey;
      height: 100%;
      position: relative;
      left: 0;
      width: 35%;
      float: left;
      .sign-left-tit{
        position: relative;
        top: 17vh;
        text-align: center;
        .sign-img{
          img{
            width: 80%;
          }
        }
        .sign-insa{
          font-weight: 600;
          font-size: 1.8em;
        }
      }
    }   
    .sign-right{
      width: 60%;
      height: 100%;
      float: right;
      padding-right: 10px;
      .sign-right-tit{
        .sign-right-ment{
          padding-left: 15px;
          display: inline-block;
          padding-top:8vh;
          .sign-right-ment-login{
            
            span{
              font-style: normal;
              font-weight: 600;
              font-size: 25px;
            }
            img{
              position: relative;
              top: 3px;
              padding-left: 6px;
              width: 30px;
            }
          }
          .sign-right-ment-schoollogin{
            padding: 10px 0px 20px 0px;
            span{
              color: $dark-grey;
              font-size: 14px;
              font-weight: 500;
            }
          }
        }
        .sign-right-input-idpw{ text-align: center;
          input{
            border:0.5px solid $medium-grey;
            width: 90%;
            height: 6vh;
          }
          ::placeholder{
            text-indent:10px;
            color: $medium-grey;
            font-weight: 300;
          }        
          .sign-right-ment-email{                                        
            padding-bottom: 6px;
          }
          .sign-right-ment-password{
            padding-bottom: 6px;
          }  
          .sign-right-ment-morepassword{
            padding-bottom: 6px;
          }
          .sign-right-ment-name{
            padding-bottom: 15px;
          }
        }
        .sign-right-loginbutton-tit{
          .sign-right-loginbutton-login{
            text-align: center;
            button{
              height: 6vh;
              border: none;
              background-color: $main-red;
              color: white;
              width: 91%;
              border-radius: 2px;
              font-size: 16px;
              font-weight: 500;
              &:hover{
                cursor: pointer;
              }
            }
            padding-bottom: 6px;
          }
        }
      }
    }
  }
}

@media screen and (max-width:830px) {
  .sign-insa{
    display: none;
  }
  .sign-right-loginbutton-googlelogin{
    button{
      span{
        display: none;
      }
    }
  }
}


@media screen and (max-width:1200px) {
  .login-insa{
    display: none;
  }
  .login-under-que{
    display: none;
  }
}