@import '../../styles/common.scss';

header {
  width: 100vw;
  border-bottom: 1px solid $grey;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  .header-inner {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px;

    .header_logo {
      display: flex;
      height: 45px;
      padding-left: 0;

      img {
        height: 100%;
        margin-right: 6px;
      }

      .logo-font {
        height: 100%;

        .logo-simblue {
          font-weight: 500;
          height: 60%;
          font-size: 20px;
        }

        .logo-bssm {
          font-weight: 300;
          height: 40%;
          font-size: 14px;
        }
      }
    }

    .header_list {

      .header_list--list {
        ul {
          display: flex;
          list-style: none;
          padding-left: 0;

          li {
            padding: 8px 20px;
            font-size: 18px;
            font-weight: 500;
            cursor: pointer;

            &:hover {
              background-color: $light-grey;
              border-radius: 12px;
            }
          }
        }
      }
    }

    .search {
      position: relative;
      display: inline-block;
      padding-left: 6px;

      input[type="text"] {
        width: 220px;
        height: 34px;
        padding: 0 60px 0 14px;
        border: 1px solid $light-grey;
        border-radius: 6px;
        background-color: $light-grey;
        font-weight: 400;
        font-size: 12px;
        color: #666;
        line-height: 16px;
        outline: none;

        &::placeholder {
          color: #cccccc;
        }

        &:focus {
          background-color: white;
          color: #333;
        }
      }

      .search-delete {
        position: absolute;
        top: 0;
        right: 30px;
        width: 36px;
        height: 36px;
        border: 0;
        background: url(https://res.kurly.com/pc/ico/2010/ico_search_del.svg) no-repeat 50% 50%;
        background-size: 12px 12px;
      }

      .search-delete-show {
        opacity: 1;
      }

      .search-delete-no {
        opacity: 0;
      }

      .search-go {
        position: absolute;
        right: 5px;
        top: 3px;
        width: 30px;
        height: 30px;
      }
    }

    .login-button {
      display: flex;
      font-size: 18px;
      font-weight: 500;
      padding: 5px 18px;
      border-radius: 12px;
      border-color: transparent;
      background-color: transparent;

      &:hover {
        background-color: $light-grey;
        cursor: pointer;
      }
    }
  }
}
.menuToggleBtn{
  display: none;
}

@media screen and (max-width: 768px){
  .menuToggleBtn{
    display: block;
  }
}

@media screen and (max-width: 1185px) {
  .search {
    input {
      display: none;
    }
  }

}
//
//
//@media screen and (max-width: 783px) {
//  .header-inner{
//    flex-direction: column;
//  }
//  .header_list{
//    flex-direction: column;
//  }
//}
