@import '../../styles/common.scss';

.create-section {
  height: 100vh;

  .create-header {
    width: 70vw;
    margin: 0 auto;
    padding: 15px 12px;

    .create-header-top {
      width: 100%;
      height: 80px;

      .create-header-left {
        display: flex;
        align-items: center;
        width: 50%;
        height: 100%;
        float: left;

        .create-header-left-emoji {
          position: relative;

          .create-header-left-emoji-input {
            background-color: $grey;
            font-size: 50px;
            width: 80px;
            padding: 10px;
            border-radius: 10px;
            display: inline-block;
            height: 100%;
            border: none;
          }
        }

        .create-header-left-title {
          display: inline-block;
          width: 78%;
          height: 100%;
          font-size: 40px;
          font-weight: bold;
          margin-left: 10px;
          border-bottom-color: $medium-grey;
        }

      }

      .create-header-right-date-wrapper {
        width: 50%;
        height: 80px;
        float: right;
        text-align: right;
        display: inline-flex;
        align-items: center;
        justify-content: right;

        .create-header-right-date {
          span {
            color: $medium-grey;
            font-size: 16px;
            margin-right: 10px;
          }

          .create-header-right-date-top {
            display: inline-flex;
            align-items: center;

            .always-label {
              margin-left: 10px;
              display: inline-flex;

              span {
                margin-right: 0;
              }
            }

            .always-button {
              width: 18px;
              height: 18px;
              margin-right: 3px;
            }
          }

          .create-header-right-date-bottom {
            margin-top: 8px;
          }
        }
      }

      .create-header-description {
        margin-top: 15px;
        border-bottom-color: $medium-grey;
      }
    }
  }

  .create-question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
  }

  .add-question-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-bottom: 100px;
    background-color: $light-grey;

    span {
      font-size: 50px;
      line-height: 50px;
      font-weight: 500;
      color: $medium-grey;
    }

    &:hover {
      background-color: #e9e9e9;
    }
  }

  .create-button {
    position: fixed;
    bottom: 15px;
    width: 70vw;
    padding: 10px 0;
    font-size: 20px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

.__EmojiPicker__.epr-emoji-native {
  font-family: Tossface, sans-serif !important;
}

.EmojiPickerReact {
  position: absolute !important;
  top: 82.5px;
  z-index: 2;

  --epr-bg-color: rgba(255, 255, 255, 0.7) !important;
}

.epr-emoji-list li {
  display: block !important;
}
