@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    margin: 0;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    cursor: pointer;
}
