
.banner_tit{
    width: 100vw;
    
    .banner--image {
        display: flex;
        height: 23vw;
        width: 100vw;
        object-fit: cover;
      }
}
.swiper .swiper-pagination {
}
.swiper .swiper-pagination-bullet {
  width: 6.5px;
  height: 6.5px;
  background-color: hsla(0,0%,100%,.7);
  box-shadow: 0 1px 6px 0 black;
  margin: 0 2px !important;
}

